/* GLOBAL STYLES
 -------------------------------------------------- */

/* For Debugging purpose only */
/** {
	border: 1px dashed green;
}*/

/* Yellow-like background color layout */
body {
	background-color: #F4F4F4;
	color: #5a5a5a;
}

/* For 11-inch Mac*/
@media (min-width: 768px) {

	/* CUSTOMIZE THE NAVBAR
	 -------------------------------------------------- */

	/* STICKERS CONTENT
	 -------------------------------------------------- */

	/* White background layout  */
	.stickers {
		margin-top: 180px;
		margin-right: 10px;
		margin-left: 10px;
		background-color: white;
	}

	.stickers .container {
		padding: 5px 5px 5px 5px;
		margin-left: 0px;
		margin-right: 0px;
		width: auto;
	}

	/* Compensate Bootstrp built-in layout */
	.stickers .row {
		margin: 0;
	}

	.stickers .col-md-4, .stickers .col-md-6, .stickers .col-md-12 {
		padding: 0;
	}

	.stickers .col-md-4 img, .stickers .col-md-6 img, .stickers .col-md-12 img {
		width: 100%;
		height: 300px;
		/*border: 1px solid;*/
	}

}

/* For 13-inch Mac */
@media (min-width: 1280px) {

	/* CUSTOMIZE THE NAVBAR
	 -------------------------------------------------- */

	/* STICKERS CONTENT
	 -------------------------------------------------- */

	/* White background layout  */
	.stickers {
		margin-top: 80px;
		margin-right: 175px;
		margin-left: 175px;
		background-color: white;
	}

	.stickers .container {
		padding: 9px 9px 9px 9px;
		margin-left: 0px;
		margin-right: 0px;
		width: auto;
	}

	/* Compensate Bootstrp built-in layout */
	.stickers .row {
		margin: 0;
	}

	.stickers .col-md-4, .stickers .col-md-6, .stickers .col-md-12 {
		padding: 4.5px;
	}

	.stickers .col-md-4 img, .stickers .col-md-6 img, .stickers .col-md-12 img {
		width: 100%;
		height: 370px;
		/*border: 1px solid;*/
	}

}

/* For 15-inch Mac */
@media (min-width: 1800px) {
}
